<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="siteurl.in.admin_loyalty">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- <activity android:name=".Splash_screen" /> -->
        <activity android:name=".Welcome_splashpage" />
        <activity android:name=".Admin_Login" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AddVendors"
            android:parentActivityName=".Vendor_list" />
        <activity
            android:name=".ChangePassword"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Admin_Profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Vendor_list"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProductForRedemption"
            android:parentActivityName=".AllRedemptionProduct" />
        <activity
            android:name=".AllRedemptionProduct"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AllOffersOfVender"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CalltoVendor" />
        <activity
            android:name=".IndividialVendorOffer"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AllBuyersOrUsers"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AllTransactionUser"
            android:parentActivityName=".AllBuyersOrUsers" />
        <activity
            android:name=".AddPayments"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CompletePayments"
            android:parentActivityName=".AddPayments" />
        <activity
            android:name=".AllTransactionVendor"
            android:parentActivityName=".Vendor_list" />

        <activity android:name=".ChangePasswordActivity"
            android:parentActivityName=".MainActivity"></activity>

    </application>

</manifest>